<style type="text/css">

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    display: inline;
    padding-right: 50px;
    font-size: 25px;
    margin-left: 60px;
    border-right: 3px solid maroon;
}

a:active {
    color: ivory;
}

li.nav {
    display: inline;
}
